<!-- file: index.html -- >
<!-- Ajax call to worker -->

<!-- worker webcall:  https://worker-aws-us-east-1.iron.io/2/projects/542c8609827e3f0005000123/tasks/webhook?code_name=bottwilio&oauth=LOo5Nc0x0e2GJ838_nbKoheXqM0> -->

<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="script.js"></script>
</head>

<!-- output from server is appended to <textarea> -->
<!-- input from user is appended to <textarea>  -->

<body ng-app="MainModule">
  <div ng-controller="MainController">
	<ul>
		<li ng-repeat='chat in chats'>{{chat}}</li> <!--similar to each.do-->
	</ul>		  
    <p>{{newChat}}</p>	
	<input type ='text' ng-model='newChat' ng-keyup="$event.keyCode == 13 && submitData()">
	 
    <button ng-click="submitData()">Submit</button>
<!-- execute command submitData>	-->
  </div>
</body>
</html>