!!!
%html
  %head
    %script{:src=> "//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"}
    %script{:src=> 'js/script.js'}
    %link(href= "/css/style.css" rel="stylesheet")
    %link(href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet')


  %body{'ng-app' =>"MainModule"}
    %div{:id => 'header'}
      %img{:src => '/images/logo1x.png'}
      %h2 Your personal coach available 24/7 by text, email, and webchat 
    
    %div{'ng-controller' => "MainController", :id => 'chat-area'}
      %ul
        %li{'ng-repeat'=> 'chat in chats'} 
          {{chat}}
		  
      -#  %p {{newChat}} 	
      %input{'type' => 'text', :id => 'type-here-box', 'placeholder' => 'type here or click link on right' , 'ng-model'=>'newChat', 'ng-keyup' => "$event.keyCode == 13 && submitData()"}
        
      %button{'ng-click' => "submitData()", "style" => "position: absolute; left: -9999px; width: 1px; height: 1px;"}
		
    %div{:id => 'navigation'}
      %ul
        %li 
          %a Who is Kaya?
        %li 
          %a Does Kaya know who I am?
        %li 
          %a How do I get started?
        %li 
          %a How do I load a coach?	  
		
