/* file: style.scss */
/* sass --watch style.scss:style.css */
body {
  font-family: 'Oxygen', sans-serif; }
  body #header h2 {
    margin-top: 0px;
    font-size: 16px; }
  body #chat-area {
    width: 800px; }
    body #chat-area li {
      font-size: 24px; }
    body #chat-area input#type-here-box {
      height: 40px;
      width: 800px;
      border-color: cornflowerblue;
      border-style: solid;
      border-width: 4px;
      background-color: aliceblue;
      font-size: 24px;
      padding: 6px; }
  body #navigation {
    float: right;
    background-color: beige;
    line-height: 46px; }
